body{
	margin-top: 10px;
}
.container h1{
	padding-top: 40px;
}
.additional{
	float: right;
}
input.btn{
	cursor: pointer;
}
.hidden{
	display: none;
}
.playerInfo table th{
	width: 250px;
}
div.alert-message a.close{
	cursor: pointer;
}
div.alert-message a.close:hover{
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}
form.form-stacked{
	padding-left: 0px;
}
.container .alert-message{
	position: absolute;
	width: 910px;
}
form .alert-message{
	position: static;
}